@use "../utils/Variables.scss" as *;
@use "../utils/clamp.scss" as *;
@use "sass:math";
@use "sass:color";

html,
body,
dialog {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    // background-color: $backgroundColor;
    color: $textColor;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: -10;
}

html {
    background-color: $backgroundColor !important;
    overflow-x: hidden;
}

html.overflowWhenVisible:not(.visible) {
    overflow: hidden;
}

html:has(iframe.open),
html:has(iframe.opened) {
    overflow: hidden;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
    // overflow-x: hidden;
    // height: 100%;
    // overflow-x: hidden;
}

#root {
    min-height: 100vh;
}

button {
    outline: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}


iframe {
    border: none;
    outline: none;
}

.widthAvailable {
    width: 100%;
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
}

.h-s {
    // font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
}

* {
    // font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    box-sizing: content-box;
}

.title {
    line-height: 2.5rem;
    // font-family: "Agrandir Bold";
    font-weight: 600;
    color: $textColor;
}

.text {
    line-height: 2em;
    // font-family: "Poppins";
    color: $textColor;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    text-wrap: wrap;
    word-break: break-word;
    // hyphens: auto;
    word-wrap: anywhere;
}

body {
    --mobile: 0;
}

@media (width < 1200px) {
    body {
        --mobile: 1;
    }
}

*::selection {
    background: $themeColor4;
    color: $themeColor1;
}


* {
    scrollbar-width: thin;
    scrollbar-color: $backgroundColor $gray-500;
}


:root {
    font-family: Dejavu, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    // background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: $themeColor2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button,
a:not([role]) {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $gray-900;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover,
a:not([role]):hover {
    border-color: $themeColor3;
}

button:focus,
a:not([role]):focus,
button:focus-visible,
a:not([role]):focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

// @media (prefers-color-scheme: light) {}


.card,
.card-nohover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid $themeColor2;
    background-color: $themeColor1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section {
    @include glass-themeColor-opacity(10);
    padding-block: 5%;
    max-width: $maxContentWidth;
    margin-inline: auto;
    margin-block: 2rem;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.external-link {
    &::after {
        content: "\f08e";
        font-family: FontAwesome;
        margin-left: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dejavu";
    font-size: clampW(1em, 3em, 200px, 2000px);
    text-align: center;
}

@font-face {
    font-family: "Dejavu";
    src: url("/fonts/dejavu-sans-mono.book.ttf") format('truetype'), url("/fonts/dejavu-sans-mono.book.woff") format('woff');
}

.hover-info-card[data-hover-info] {

    $arrowSize: 10px;
    $arrowBg: color.adjust($themeColor3, $lightness: -10%);

    $transitionTime: 0.2s;
    position: relative;


    &::after {
        content: attr(data-hover-info);
        text-transform: capitalize;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-0% - ($arrowSize - 1px))) scaleY(0);
        transform-origin: bottom center;
        width: max-content;
        background-color: $arrowBg;
        border-radius: 10px;
        padding: 10px;
        opacity: 0;
        font-size: clampW(0.3em, 1em, 200px, 2000px);

        transition: transform $transitionTime ease-in-out,
            opacity $transitionTime ease-in-out;
        pointer-events: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -0%) scaleY(0);
        transform-origin: top center;
        opacity: 0;

        width: 0;
        height: 0;

        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid transparent;
        border-top: $arrowSize solid $arrowBg;
        transition: transform $transitionTime ease-in-out,
            opacity $transitionTime ease-in-out;
        pointer-events: none;
    }

    &:hover {
        &::after {
            transform: translate(-50%, calc(-100% - ($arrowSize - 1px))) scaleY(1);
            opacity: 1;
        }

        &::before {
            transform: translate(-50%, -100%) scaleY(1);
            opacity: 1;
        }

        z-index: 100;
    }
}